/*---------------------------------------------------
    LESS Elements 0.8
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
  Styles to override spree
---------------------------------------------------*/
#header {
  height: 80px;
  margin: 0;
}
#header h1,
#header #logo {
  position: static;
  float: left;
  margin: 0 0 0 10px;
}
#header h1 {
  margin-top: 38px;
}
#header #login-nav {
  margin: 0 1.5em 1em 0;
}
#header #login-nav a:hover {
  color: #fff;
}
#admin-menu,
#sub-menu {
  position: relative;
  z-index: 100;
}
#admin-menu ul,
#sub-menu ul {
  overflow: hidden;
}
#admin-menu br.clear,
#sub-menu br.clear {
  display: none;
}
#admin-menu {
  margin-left: 350px;
  margin-top: -42px;
  clear: none;
  border: 1px solid #0095DA;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#admin-menu ul {
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#admin-menu ul li:first-child {
  border: 0;
}
#sub-menu {
  border: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
}
#sub-menu ul li a {
  margin: 1px 5px;
}
#footer .powered_by {
  text-align: center;
  vertical-align: middle;
}
#footer .powered_by a,
#footer .powered_by span {
  display: inline-block;
  padding: 5px;
}
#footer .powered_by span {
  padding: 0px;
}
#footer .powered_by .logo-aq {
  margin-left: 15px;
  background: #fff;
}
