<p class='powered_by'>
  Powered by:
  <a class='logo-link logo-tw' href='http://www.thoughtworks.com' title="ThoughtWorks Technologies"><img src='/assets/logo_tw.png' alt="ThoughtWorks Technologies" /></a>
  <a class='logo-link logo-aq' href='http://www.aqinsights.com' title="Analytics Quotient"><img src='/assets/logo_aq.png' alt="Analytics Quotient" /></a>
</p>